src/main/mule/meetup-testcontainer-set-speaker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="meetup-testcontainer-set-speaker-main" doc:id="fed1f714-350c-4c2f-904d-b7fb909e5a2b" >
		<logger level="INFO" doc:name="Logger" doc:id="703f5210-43d7-4e07-8eba-4c1e3b880f18" message='#["Connect to: $(p("db.url"))"]'/>
		<db:update doc:name="Update" doc:id="52a65779-bc8b-4484-95fb-df3e888db3f4" config-ref="Database_Config">
			<reconnect />
			<db:sql ><![CDATA[update meetup_tbl set speaker_id = :speakerId where meetup_id = :meetupId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	speakerId: vars.speakerId,
	meetupId: vars.meetupId
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="create text" doc:id="ad5d4c8e-c34c-4445-b15a-5c36fdee72aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{ 
	text: "Speaker $(vars.speakerId) assigned to meeetup $(vars.meetupId)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
